@media screen and (max-width: 600px) {
    .wf61IpZ51_1 > h1 {
        font-size: 30px;
        width: 100%;
    }

    .wf61IpZ51_1 > p {
        width: 100%;
    }

    .Iod86_dH95_jdZx_f {
        display: flex;
        flex-direction: column;
    }

    .wPond_hbY42_2 > img {
        display: none;
    }

    .uyT8_Lpo2XYs4Z_Ul > ul {
        gap: 14px;
        flex-wrap: wrap;
    }

    .yTe54PlOZ68_cardf {
        padding: 30px 0px;
    }

    .wf61IpZ51_1 > p {
        font-size: 12px;
        line-height: 18px;
        margin: 0px;
        padding: 0px 0px;
    }

    .UnsdZI5P1G_H4dO54M_f56E {
        padding: 12px 0px;
    }

    .lchDE3rTh15-imDoWn > h4 {
        font-size: 28px;
    }

    .Yte74P900_kjhgaX236_cTeXt2l > h2 {
        padding-bottom: 8px;
        font-size: 28px;
    }

    .Yte74P900_kjhgaX236_cTeXt2l > p {
        font-size: 14px;
        line-height: 24px;
        margin: 0px;
        padding: 5px 0px 20px 0px;
    }

    .J45L_H75_F > img {
        width: 70px;
    }

    .YU752_2EfskO > a > p {
        font-size: 11px;
    }

    .gJkhe_547_img_area > h3 {
        font-size: 28px;
    }

    .gJkhe_547_img_area {
        padding-block: 30px;
    }

    .gJkhe_547_45gtgXimages a img, .gJkhe_547_45gtgXimages div img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 88px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 601px){
    .wPond_hbY42_2 > img {
        width: 191px;
        position: absolute;
        top: -10px;
        left: -44px;
    }

    .jgrtopll4-c > p {
        height: 145px;
    }
}