*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.UnsdZI5P1G_H4dO54M_f56E {
    background: #007a33;
    padding: 24px 0px;
}

.hj-container {
    width: 82%;
    margin: 0 auto;
    max-width: 1080px;
}

.PoI542T_l2241 {
    background: #04662d;
    padding: 8px 0px;
}

.Zjd450w_dP_f {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.J45L_H75_F > img {
    width: 125px;
}

.YU752_2EfskO > a > p {
    font-family: "Montserrat", serif;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.Iod86_dH95_jdZx_f {
    display: flex;
}

.wf61IpZ51_1 > h1 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #fdfeff;
    letter-spacing: 0.6px;
    width: 550px;
}

.wf61IpZ51_1 > p {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 15px;
    color: #f7f7f7;
    line-height: 22px;
    width: 550px;
    margin: 0px;
    padding: 8px 0px;
}

.wPond_hbY42_2 > img {
    width: 320px;
    position: absolute;
    top: -44px;
    left: 95px;
}

.wPond_hbY42_2 {
    position: relative;
}

.yTe54PlOZ68_cardf {
    padding: 60px 0px;
}

.hgTr54_jeCard_bg_1lk {
    padding: 30px 40px 30px 50px;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: 0px 14px 34px -7px #d7d7d7;
    min-height: 265px;
}

.hgTr54_jeCard_bg_1lk:hover{
    background-color: aliceblue;
}

.jgrtopll4-c > h2 > img {
    width: 36px;
    position: relative;
    margin-right: 8px;
}

.jgrtopll4-c > h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    color: #000;
}

.jgrtopll4-c > p {
    font-family: "Montserrat", serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #6a6a6a;
    margin: 0px;
    padding: 8px 0px 15px 0px;
}

.jgrtopll4-c > a > button {
    padding: 12px 34px;
    border-radius: 50px;
    background: #007a33;
    border: 0px;
    outline: 0px !important;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
}

.htjfk54_ribbon {
    position: relative;
}

.ribbsdnb-1 {
    border: 8px solid #00800000;
    width: 13px;
    position: absolute;
    left: -60px;
    border-top: 265px solid #0c8934;
    top: -30px;
}

.Yte74P900_kjhgaX236{
    padding: 50px 0px;
    background-color: whitesmoke;
}

.Yte74P900_kjhgaX236_cTeXt2l > h2{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
    font-size: 34px;
}

.gJkhe_547_img_area > p{
    font-family: "Montserrat", serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #5f5e5e;
    margin: 0px;
    padding: 8px 0px 10px 0px;
}

.Yte74P900_kjhgaX236_cTeXt2l > p{
    font-family: "Montserrat", serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    color: #5f5e5e;
    margin: 0px;
    padding: 5px 0px 20px 0px;
}

.Yte74P900_kjhgaX236_cTeXt2l > ul{
    padding: 5px 0px 20px 0px;
}

.Yte74P900_kjhgaX236_cTeXt2l > ul > li{
    font-family: "Montserrat", serif;
    font-size: 15px;
    line-height: 32px;
    font-weight: 500;
    color: #5f5e5e;
    margin: 0px;
}

.Yte74P900_kjhgaX236_cTeXt2l > p > a{
    color: #000000 !important;
}

.Yte74P900_kjhgaX236_cTeXt2l > ul > li > a{
    color: #000000 !important;
}

.dXOiuX547_footer {
    padding: 30px 0px 60px 0px;
}

.gJkhe_547_img_area {
    border-bottom: 1px solid #e9e9e9;
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gJkhe_547_45gtgXimages {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.gJkhe_547_45gtgXimages a img, .gJkhe_547_45gtgXimages div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gJkhe_547_45gtgXimages a, .gJkhe_547_45gtgXimages div {
    display: block;
    max-width: 168px;
    height: 48px;
}

img.nlo-f-logo-54PlV {
    width: 215px;
    padding: 30px 0px;
}

.lchDE3rTh15-imDoWn{
    text-align: center;
    padding: 40px 0px 15px 0px;
}

.lchDE3rTh15-imDoWn > h4{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    color: #000;
    padding-bottom: 12px;
    font-size: 34px;
}

.gJkhe_547_img_area {
    text-align: center;
}

.gJkhe_547_img_area > h3{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    color: #000;
    padding-top: 30px;
    font-size: 34px;
}

.gJkhe_547_img_area.gJkhe_547_images2ukl > h2{
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    color: #000;
    padding: 0px 0px 30px 0px;
    font-size: 34px;
}

.gJkhe_547_img_area > p > a{
    color: #000000 !important;
}

.uyT8_Lpo2XYs4Z_Ul > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.uyT8_Lpo2XYs4Z_Ul > ul > li > a{
    font-family: "Montserrat", serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #1a1a1a;
}

.uyT8_Lpo2XYs4Z_Ul > ul > li > a:hover{
    color: #007a33 !important;
}

.uyT8_Lpo2XYs4Z_Ul{
    border-top: 1px solid #e9e9e9;
    padding-top: 40px;
}